h1{
  font-family: 'Gudea', sans-serif;
  font-size: 40px;
}
h2{
  font-family: 'Gudea', sans-serif;
  color: #dddddf;
}

.App {
  text-align: center;
}

.App-logo{
  margin: 20px;
  height: px;
  left: 2%;
  float: left;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header{
  position: relative;
    float: left;
    width: 100%;
    background-color: #ebebeb;
    box-shadow: 5px 10px 15px #b6b6b6;
    clear: both;
  
}

.App-link {
  color: #61dafb;
}

.Account{
  position: relative;
  float: left;
  display: flex;
  width: 100%;
  margin-top: 10em;
  justify-content:space-evenly;
}

.Input-modal{
  width: 35%;
  min-height: 20em;
  background-color: #195379;
  box-shadow: 5px 10px 15px #b6b6b6;
  padding: 10px;
  border-radius: 10px;
  transition: all 300ms;
}

.Input-modal:hover{
  width: 45%;
  background-color: #07314d;
}
.Input-modal:hover .inputBox{
  height: 70%;
}
.Input-modal:hover .head{
  margin-top: 0;
}
.Input-modal:hover .otpButton{
  visibility: visible;
  width: 100px;
  height: 40px;
  font-size: 1em;
}
.Input-modal:hover .input{
  visibility: visible;
  width: 80%;
  height: 25px;
  font-size: 20px;
}
.head{
  margin-top: 20%;
  float: left;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  color: #dddddf;
  transition: all 300ms;
}

.inputBox{
  float: left;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  clear: both;
  justify-content:space-evenly;
  align-items: center;
  transition: all 300ms;
}
.input{
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  opacity: 0.7;
  border-radius: 10px;
  border: none;
  padding: 10px;
  outline: none;
}
.otpButton{
  visibility: hidden;
  width: 0px;
  height: 0px;
  font-family: 'Oswald', sans-serif;
  font-size: 0em;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  color: #000000;
  transition: all 300ms;
}
.cancel{
  clear: both;
  float: left;
  margin-top: 10px;
  width: 80px;
  height: 40px;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  border-radius: 10px;
  border: none;
  background-color: #8d3a3a;
  color: #ffffff;
}
.otp{
  display: flex; /* Add a pointer on hover */
}
.overlay{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.7); 
  z-index: 2;
}
.form-control{
  width: 2em;
  border-radius: 10px;
  height: 4em;
  font-size:1.5em;
  text-align: center;
  opacity: 0.7;
  margin: 10px;
  border: 0 0 1px 0 ;
  border: none;
  outline: none;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: none;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
